<div class="container mt-5">
    <div class="text-center mt-3">
    <div class="col-xs-offset-5" style="margin-top: 18vh; margin-bottom: 25vh;">
   <h3 class="conf mb-4"><strong>本当に退会しますか？</strong></h3>

  <div class = "withdrawal_text" style="margin-top: 4vh;">退会すると、会員登録情報や<br>
    これまでの購入情報が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。<br>
  </div>  

  <div class="d-flex flex-column flex-md-row justify-content-center mt-4">
     <div class="no-delete"><%= link_to "退会しない", public_customer_path(@customer), class: "btn btn-primary" %>&ensp;</div>
     <div class="delete">
      <% if customer_signed_in? && current_customer %>
        <%= link_to "退会する", public_customers_withdrawal_path(@customer), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
      <% end %>
            </div>
        </div>
    </div>
    </div>
</div>  