<div class="text-center">
   <p class="font-weight-bold">本当に退会しますか？</p>
</div> 

  <p class="text-center">
    退会すると、会員登録情報や<br>
    これまでの購入情報が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。<br>
  </p>  

  <div class="text-center">
    <%= link_to "退会しない", public_customer_path(@customer), class: "btn btn-primary" %>
    <%= link_to "退会する", public_customers_withdrawal_path(@customer), method: :patch, class: "btn btn-danger" %>
  </div>  