<!--<p>本当に退会しますか？</p>-->

<!--<p>退会すると、会員登録情報や</p><br>-->
<!--<P>これまでの購入情報が閲覧できなくなります。</P>-->
<!--<p>退会する場合は、「退会する」をクリックしてください。</p>-->

<!-- <!%= f.submit "退会しない" %>-->
<!-- <!%= f.submit "退会する" %>-->